{% extends "admin/change_list.html" %}
{% load i18n admin_urls %}
{% load static  %}
{% block object-tools %}
    <ul class="object-tools pull-right">
        {% block object-tools-items %}
            {% if has_add_permission %}
                {{ block.super }}
            {% endif %}
        {% endblock %}
        <li>
            <a class="btn btn-primary" href="#" onclick="showMap()">
                <span class="glyphicon glyphicon-globe"></span>
                Open Map
            </a>
            <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />
            <link rel="stylesheet" href="{% static 'leaflet/leaflet-routing-machine.css' %}" />
            <!-- <link rel="stylesheet" href="{% static 'leaflet/my-css.css' %}" /> -->

            <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
            <script src="{% static 'leaflet/leaflet-routing-machine.js' %}"></script>
            <script src="{% static 'leaflet/Control.Geocoder.js' %}"></script>

            <script type="text/javascript">
                var isMapInit = false;
                var map = 0;
                var myLayer = 0;
                var myControl = 0;

                function initMap(){
                    if(isMapInit)return true;

                    var mapElement = jQuery('<div id="map-container"><div id="map" class="map" style="width: 100%; height: 500px; border: 1px solid #CCC;"></div></div>');
                    jQuery('#content-main').append(mapElement);

                    map = L.map('map');

                    // http://dev.morange.co.th/mapbox-studio-osm-bright/{z}/{x}/{y}.png
                    //myLayer = L.tileLayer('//{s}.tile.osm.org/{z}/{x}/{y}.png', {
                    myLayer = L.tileLayer('//dev.morange.co.th/mapbox-studio-osm-bright/{z}/{x}/{y}.png', {
                    //myLayer = L.tileLayer('http://{{request.META.HTTP_HOST}}/tile/mapbox-studio-osm-bright/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(map);

                    isMapInit = true;
                }

                function addTripToMap(response){
                    if(myControl){
                        myControl.remove();
                    }

                    //var coords = [L.latLng(16.4397, 102.830036)];
                    var coords = [];

                    for(index in response.orders){
                        order = response.orders[index];
                        coords.push(L.latLng(order.delivery_location.coord.lat, order.delivery_location.coord.lon));
                    }

                    var tmpControl = L.Routing.control({
                        layer: myLayer,
                        serviceUrl: '//{{request.META.HTTP_HOST}}/osrm/route/v1',
                        language: 'en',
                        center: L.latLng(16.4397, 102.830036),
                        zoom: 13,
                        waypoints: coords,
                        geocoder: L.Control.Geocoder.nominatim(),
                        routeWhileDragging: false,
                        reverseWaypoints: true,
                    });

                    myControl = tmpControl;
                    myControl.addTo(map);
                }



                function showMap(){
                    var tripToRoute = jQuery('[name="_selected_action"]:checked').eq(0);
                    if(!tripToRoute.length){
                        alert('Please select a trip.');
                        return;
                    }

                    jQuery.ajax({
                        url: '/vrp/api/trips/' + tripToRoute.attr('value'),
                        method: 'get',
                        data: {},
                        success: function(response){
                            if(!isMapInit){
                                initMap();
                            }

                            addTripToMap(response);
                        },
                        error: function(){

                        }
                    });

                }


            </script>
        </li>
    </ul>
{% endblock %}
